@import url('https://fonts.googleapis.com/css2?family=Tapestry&display=swap');

body {
    font-family: 'Tapestry', serif;
}

header {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px;
}

#form {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: flex-start;
    padding: 20px;
}

section {
    background-color: lightgreen;
    border: 1px solid #ddd;
    padding: 10px;
    margin: 10px;
    flex: 1;
    max-width: 300px;
}

label {
    display: block;
    margin-bottom: 5px;
}

input {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
}

.botao {
    display: flex;
    justify-content: center; /* Alterado para o centro */
    align-items: center;
    margin-top: 20px;
    flex: 1;
}

.button1,
.button2 {
    margin: 0 10px;
}

.button1 button,
.button2 button {
    background-color: #4caf50;
    color: #fff;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
}
